body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.logo{
    padding-left:50px;
}

.logoLogin{   
    width:50%;
    margin-left: 25%;
    margin-top: 10%;
}

h4{
    text-align:center;
}

h3{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

a{
    font-family: 'Poppins', sans-serif;
    color: black;
}

.carousel{
    width: 100%;
    height: 35rem;
    border-radius: 50px;
    padding: 10px;
}

.poster{
    width: 100%;
    height: 35rem;
    border-radius: 50px;
    padding: 30px;
}

.card-group{
    padding: 20px;
}

.login{
    background-color: whitesmoke;
    width: 100%;
    height: 115vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.boxLogin{
    width: 400px;
    height: 55rem;
    background: #fff;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 4px grey;
}

.mb-3{
    padding:10px;
}